footer{
    height:50px;
    width:100%;
    background: linear-gradient(rgb(122, 121, 121),rgb(71, 71, 71));
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

    footer div{
        font-size:20px; 
    }

    a:hover{
        color: red;
    }