
header{   
    font-size: 40px;
    height:100px;
    width:96%;
    color:rgb(172, 7, 7);
    display: flex;
}

    #autor{
        width:35%;
        text-align: center;
        font-family: 'Anton', sans-serif;
        line-height: 50px;
    }

    #orwell{
        width:15%;
        background:url("../images/347-3474143_george-orwell-png.png") no-repeat;
        text-align: center;
        background-size: contain;
        font-family: 'Roboto Mono', monospace;
    }

    #bigbrother {
        border:2px solid black;
        width: 50%;
        height: auto;
        background: url("../images/headerBigBrother.png");       
        background-size: contain;
    }



