section{
    display:flex;
    height:90%;
    width: 70%;
    border-radius: 30px;
    margin-left: 15%;
    padding: 2%;
    border:2px solid red;
    background-color: rgb(240, 240, 240);
    -webkit-box-shadow: -2px 22px 5px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 22px 5px 10px rgba(0,0,0,0.75);
    box-shadow: -2px 22px 5px 10px rgba(0,0,0,0.75);
    z-index: 0;
}


aside{
    margin-left: 1%;
    padding : 20%;
    width: 70%;
    height:auto;
    padding: 1%;
}

article{
    margin-left:3%;
    font-size: 20px;
    width:40%;
    padding:1%;
    background-size: contain;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

img{
    margin:2%;
    max-width: 100%;
    height: auto;
    margin-top:5%;
    border : 2px solid  rgba(255,0,0,1);
}

article + article{
    margin-top: 2%;
}

.slider{
    width:95%;
    margin:auto;
    overflow:hidden;
}

    .slider ul {
        display: flex;
        padding: 0;
        width: 1190%;

        animation: cambio 20s infinite alternate linear;
    }

    .slider li{
        width: 100%;
        list-style: none;
    }

    .slider img{
        width: auto;
        border:none;
    }

@keyframes cambio {
    0% {margin-left:0;}
    20%{margin-left:0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

