nav ul{
    width:90%;
    height: 50px;
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-self: flex-start;
    justify-content: space-evenly;
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 10px;
}

    nav ul li{
        display: block;
        width: 95%;
        flex-grow: 1;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        text-align: center;
        line-height: 2em;
        background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(143, 26, 26));
        color: white;
        border-radius: 15px;
        border:1.5px solid black;
        display:box;
        -webkit-box-shadow: 2px 15px 7px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 15px 7px 3px rgba(0,0,0,0.75);
        box-shadow: 2px 22px 7px 3px rgba(0,0,0,0.75);
        z-index: 3;
        text-shadow: black;
    }


        nav ul li:hover {    
              
            transition: linear 2s;  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            z-index: 3;
        }    

           nav ul li:hover a{display:block; }

        
        nav ul li + li {
            margin-left: 1%;
        }

        nav ul li>ul{
            display: none;
          }

        nav ul li:hover>ul {
             display:block;
        }  

a{
    color:white;
    text-decoration: none;
}